NET "Reset" LOC = P160;
NET "Rx" LOC = P128;
NET "Tx" LOC = P129;
NET "clk" LOC = P80;
NET "En" LOC = P161;
NET "reg[0]" LOC = P8;
NET "reg[1]" LOC = P9;
NET "reg[2]" LOC = P11;
NET "reg[3]" LOC = P12;
NET "reg[4]" LOC = P15;
NET "reg[5]" LOC = P17;
NET "reg[6]" LOC = P18;
NET "reg[7]" LOC = P19;
NET "lcd_data[0]" LOC = P62;
NET "lcd_data[1]" LOC = P64;
NET "lcd_data[2]" LOC = P65;
NET "lcd_data[3]" LOC = P68;
NET "lcd_data[4]" LOC = P69;
NET "lcd_data[5]" LOC = P74;
NET "lcd_data[6]" LOC = P75;
NET "lcd_data[7]" LOC = P76;
NET "lcd_e" LOC = P47;
NET "lcd_rs" LOC = P42;
NET "lcd_rw" LOC = P45;